@import "tailwindcss";

@theme {
  --color-brand-blue: #2D7AF3;
  --color-brand-blue-dark: #1a5bbd;
  --color-brand-red: #DD1F05;
  --color-brand-red-dark: #a81703;
  --font-heading: "Patrick Hand", cursive;
  --font-body: "Inter", sans-serif;

  --animate-spin-slow: spin 3s linear infinite;
}

:root {
  font-family: var(--font-body);
  background-color: #000000;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
}